## FLOAT ASSIGNMENT

Q 1 Declare a float value and store it in a variable.
Check the type and print the id of the same.

In [2]:
a = 50.5


variable_type = type(a)

variable_id = id(a)

print(f"Value: {a}")
print(f"Type: {variable_type}")
print(f"ID: {variable_id}")

Value: 50.5
Type: <class 'float'>
ID: 2491913912176

Q 2 Arithmetic Operations on float
Take two different float values.
Store them in two different variables.
Do below operations on them:-
Find sum of both numbers
Find difference between them
Find the product of both numbers.
Find value after dividing first num with second number
Find the remainder after dividing first number with second number
Find the quotient after dividing first number with second number
Find the result of the first num to the power of the second number.

In [3]:
a=10.5
b=15.4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

25.9
-4.9
161.70000000000002
0.6818181818181818
10.5
0.0
5324945971819706.0

Q 3 Comparison Operators on float
Take two different float values.
Store them in two different variables.
Do below operations on them:-
Compare these two numbers with below operator:-
Greater than, '>'
Smaller than, '<'
Greater than or equal to, '>='
Less than or equal to, '<='
Observe their output(return type should be boolean)

In [4]:
a=20.5
b=30.5
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True

Q 4 Equality Operator
Take two different float values.
Store them in two different variables.
Equate them using equality operators (==, !=)
Observe the output(return type should be boolean)

In [5]:
a=15.5
b=10.3
print(a==b)
print(a!=b)

False
True

Q 5 Logical operators
Observe the output of below code
Cross check the output manually
print(10.20 and 20.30) #both are true and second value taken
>Output is 20.3
print(0.0 and 20.30) #First is false so first value
taken->Output is 0.0

print(20.30 and 0.0) #Goes to till second and second value is
false so second is taken>Output is 0.0
print(0.0 and 0.0) #First is false so first value is
taken->Output is 0.0
print(10.20 or 20.30) #First is True so first value is
taken>Output is 10.2
print(0.0 or 20.30) #Goes to till second and second is true
second value is taken->Output is 20.3
print(20.30 or 0.0) #First is True so first value is
taken->Output is 20.3
print(0.0 or 0.0) #Goes to till second and second is also
false and second value is taken>Output is 0.0
print(not 10.20) #-Not of true is false->Output is False
print(not 0.0) #Not of false is True>Output is True

In [6]:
print(10.20 and 20.30)
print(0.0 and 20.30)
print(20.30 and 0.0)
print(0.0 and 0.0)
print(10.20 or 20.30)
print(0.0 or 20.30)
print(20.30 or 0.0)
print(0.0 or 0.0)
print(not 10.20)
print(not 0.0)

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

Q 6 What is the output of expression inside print statement. Cross check
before running the program.
a = 10.20
b - 10.20
print(a is b) #True or False? True 10.20<256
print(a is not b) #True or False? False
Why the Id of float values are different when the same value is
assigned to two different variables
ex: a = 10.5 b=10.5. but id will be same if I assign the variable
having float i.e. a=c then both a and c's Id are same

In [13]:
a=10.20
b=10.20
print(a is b)
print(a is not b)

True
False

id of both variables are different because Python internally optimizes the storage of small integers and some other common objects. For example, Python caches small integers and common floating-point numbers in a range, so when you assign the same value to different variables, they may refer to the same object to save memory. However, this behavior is not guaranteed for all floating-point numbers, especially for values like 10.20.

Q7 Bitwise operation is not applicable between instances of float.
Why the Id of float values are different when the same value is
assigned to two different variables
ex: a = 10.5 b=10.5. but id will be same if I assign the variable
having float i.e. a=c then both a and c's Id are same
Object reusability concept is not applicable on float values.

In [1]:
a = 10.5
b = 10.5
c = a

print(id(a))  # The id of 'a' will typically be different from 'b'.
print(id(b))  # The id of 'b' will typically be different from 'a'.
print(id(c))  # The id of 'c' will typically be the same as 'a'.

# However, if you use a small integer (e.g., 5), you'll likely get the same id for 'a' and 'b'.

2235467480656
2235448210512
2235467480656

In [2]:
a = 10.5
b = 10.5

print(id(a))  # The id of 'a' will be different from 'b'.
print(id(b))  # The id of 'b' will be different from 'a'.

2235467480496
2235467469168

In this case, a and b are two separate float objects with the same value, but they have different memory addresses (different ids).

In [4]:
a = 10.5
c = a

print(id(a))  # The id of 'a' and 'c' will be the same.
print(id(c))  # The id of 'c' and 'a' will be the same.

2235448210512
2235448210512

In this case, c is assigned the value of a, so they both reference the same float object in memory, and their ids are the same.

Q 8 Membership operation
in, not in are two membership operators and it returns boolean value
print('2.7' in 'Python2.7.8') #True
print(10.20 in [10,10.20,10+20j,'Python']) #True
print(10.20 in (10,10.20,10+20j,'Python')) # True
print(20.30 in {1,20.30,30+40j}) # True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
print(10 in range(20)) # True

In [5]:
print('2.7' in 'Python2.7.8')
print(10.20 in [10,10.20,10+20j,'Python'])
print(10.20 in (10,10.20,10+20j,'Python'))
print(20.30 in {1,20.30,30+40j})
print(2.3 in {1:100, 2.3:200, 30+40j:300})
print(10 in range(20))

True
True
True
True
True
True